:root {
  --saturn-orange-light-800: hsla(18, 32%, 56%, 1);
  --saturn-orange-light-600: hsla(18, 64%, 73%, 1);
  --saturn-orange-light-500: hsla(18, 100%, 81%, 1);
  --saturn-orange-light-400: hsla(18, 100%, 83%, 1);
  --saturn-orange-light-200: hsla(18, 100%, 86%, 1);

  --saturn-orange-light-800-foreground: hsla(0, 0%, 100%, 1);
  --saturn-orange-light-600-foreground: hsla(0, 0%, 100%, 1);
  --saturn-orange-light-500-foreground: hsla(220, 28%, 16%, 1);
  --saturn-orange-light-400-foreground: hsla(220, 28%, 16%, 1);
  --saturn-orange-light-200-foreground: hsla(220, 28%, 16%, 1);
}
